.app__header {
  background-color: var(--color-white);
}

.app__header-h1 {
  font-family: var(--font-base);
  font-weight: bolder;
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 67px;
  font-size: 30px;
}

.app__header .app__header-img img {
  width: 80%;
}
